h3{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: red;
}

.btn-success{
    font-size: large;
}

canvas{
    animation-name: ShadowColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes ShadowColor{
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px yellow;}
}